.postList_container {
  width: 80%;
  margin: auto;
  margin-top: 10em;
}

.postList_container p {
  text-align: center;
}

.postList_container form {
  margin-top: 0.8em;
}

.postList_container form div {
  display: flex;
  justify-content: center;
}

.postList_container form div input {
  text-align: center;
}

.postList_container form span {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.outputList {
  width: 80%;
  margin: auto;
  margin-top: 6em;
}

.outputItem {
  text-align: center;
  margin-top: 1.5em;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}
